
<div class="container">
  <div class="row">
    <div class="col-md-2">
      <input
        class="form-control"
        type="text"
        name="nombre"
        id="nombre"
        placeholder = "Nombre"
        #inputNombre
      />
    </div>
    <div class="col-md-2">
      <input
        type="text"
        name="apellido"
        id="apellido"
        class="form-control"
        placeholder="Apellido"
        aria-describedby="helpId"
        #inputApellido
      />
    </div>
    <div class="col">
      <button
        class="btn btn-primary"
        type="submit"
        (click) = 'agregarPersona(inputNombre, inputApellido)'
      >Agregar Persona</button>
    </div>
  </div>
</div>
